.page-header {
    background: $off_white;
    margin-bottom: $l_size;
    padding: $l_size 0;

    &__title {
        margin: 0;
        font-weight: 300;

        span {
            font-weight: 700;
        }
    }

    &__actions {
        margin-top: $m_size;
    }
}