html {
    font-size: 62.5%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m_size;
}

button {
    cursor: pointer;

    &:disabled {
        cursor: not-allowed;
    }
}

.is-active {
    font-weight: bold;
}